# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
doubleCircularLinkedList/cmake-build-debug/.ninja_deps
doubleCircularLinkedList/cmake-build-debug/.ninja_log
doubleCircularLinkedList/cmake-build-debug/build.ninja
doubleCircularLinkedList/cmake-build-debug/cmake_install.cmake
doubleCircularLinkedList/cmake-build-debug/CMakeCache.txt
doubleCircularLinkedList/cmake-build-debug/doubleCircularLinkedList
doubleCircularLinkedList/cmake-build-debug/.cmake/api/v1/query/cache-v2
doubleCircularLinkedList/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
doubleCircularLinkedList/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
doubleCircularLinkedList/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/clion-environment.txt
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/clion-log.txt
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/cmake.check_cache
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/CMakeError.log
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/CMakeOutput.log
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/rules.ninja
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/TargetDirectories.txt
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/doubleCircularLinkedList.dir/DuLinkList.c.o
doubleCircularLinkedList/cmake-build-debug/CMakeFiles/doubleCircularLinkedList.dir/main.c.o
doubleCircularLinkedList/cmake-build-debug/Testing/Temporary/LastTest.log
stackWithArray/cmake-build-debug/build.ninja
stackWithArray/cmake-build-debug/cmake_install.cmake
stackWithArray/cmake-build-debug/CMakeCache.txt
stackWithArray/cmake-build-debug/.cmake/api/v1/query/cache-v2
stackWithArray/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
stackWithArray/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
stackWithArray/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
stackWithArray/cmake-build-debug/CMakeFiles/clion-environment.txt
stackWithArray/cmake-build-debug/CMakeFiles/clion-log.txt
stackWithArray/cmake-build-debug/CMakeFiles/cmake.check_cache
stackWithArray/cmake-build-debug/CMakeFiles/CMakeError.log
stackWithArray/cmake-build-debug/CMakeFiles/CMakeOutput.log
stackWithArray/cmake-build-debug/CMakeFiles/rules.ninja
stackWithArray/cmake-build-debug/CMakeFiles/TargetDirectories.txt
stackWithArray/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
stackWithArray/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
stackWithArray/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
stackWithArray/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
stackWithArray/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
stackWithArray/cmake-build-debug/Testing/Temporary/LastTest.log
stackWithArray/cmake-build-debug/.ninja_deps
stackWithArray/cmake-build-debug/.ninja_log
stackWithArray/cmake-build-debug/stackWithArray
stackWithArray/cmake-build-debug/CMakeFiles/stackWithArray.dir/main.c.o
stackWithArray/cmake-build-debug/CMakeFiles/stackWithArray.dir/stack.c.o
LinkedList_cLion/cmake-build-debug/build.ninja
LinkedList_cLion/cmake-build-debug/cmake_install.cmake
LinkedList_cLion/cmake-build-debug/CMakeCache.txt
LinkedList_cLion/cmake-build-debug/.cmake/api/v1/query/cache-v2
LinkedList_cLion/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
LinkedList_cLion/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
LinkedList_cLion/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
LinkedList_cLion/cmake-build-debug/CMakeFiles/clion-environment.txt
LinkedList_cLion/cmake-build-debug/CMakeFiles/clion-log.txt
LinkedList_cLion/cmake-build-debug/CMakeFiles/cmake.check_cache
LinkedList_cLion/cmake-build-debug/CMakeFiles/CMakeError.log
LinkedList_cLion/cmake-build-debug/CMakeFiles/CMakeOutput.log
LinkedList_cLion/cmake-build-debug/CMakeFiles/rules.ninja
LinkedList_cLion/cmake-build-debug/CMakeFiles/TargetDirectories.txt
LinkedList_cLion/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
LinkedList_cLion/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
LinkedList_cLion/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
LinkedList_cLion/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
LinkedList_cLion/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
LinkedList_cLion/cmake-build-debug/Testing/Temporary/LastTest.log
LinkedList_cLion/cmake-build-debug/.ninja_deps
LinkedList_cLion/cmake-build-debug/.ninja_log
LinkedList_cLion/cmake-build-debug/LinkedList_cLion
LinkedList_cLion/cmake-build-debug/CMakeFiles/LinkedList_cLion.dir/LinkedList.c.o
LinkedList_cLion/cmake-build-debug/CMakeFiles/LinkedList_cLion.dir/main.c.o
DoublyLinkedList/cmake-build-debug/build.ninja
DoublyLinkedList/cmake-build-debug/cmake_install.cmake
DoublyLinkedList/cmake-build-debug/CMakeCache.txt
DoublyLinkedList/cmake-build-debug/.cmake/api/v1/query/cache-v2
DoublyLinkedList/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
DoublyLinkedList/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
DoublyLinkedList/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
DoublyLinkedList/cmake-build-debug/CMakeFiles/clion-environment.txt
DoublyLinkedList/cmake-build-debug/CMakeFiles/clion-log.txt
DoublyLinkedList/cmake-build-debug/CMakeFiles/cmake.check_cache
DoublyLinkedList/cmake-build-debug/CMakeFiles/CMakeError.log
DoublyLinkedList/cmake-build-debug/CMakeFiles/CMakeOutput.log
DoublyLinkedList/cmake-build-debug/CMakeFiles/rules.ninja
DoublyLinkedList/cmake-build-debug/CMakeFiles/TargetDirectories.txt
DoublyLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
DoublyLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
DoublyLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
DoublyLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
DoublyLinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
DoublyLinkedList/cmake-build-debug/Testing/Temporary/LastTest.log
DoublyLinkedList/cmake-build-debug/.ninja_deps
DoublyLinkedList/cmake-build-debug/.ninja_log
DoublyLinkedList/cmake-build-debug/DoublyLinkedList
DoublyLinkedList/cmake-build-debug/CMakeFiles/DoublyLinkedList.dir/DoublyLinkedList.c.o
DoublyLinkedList/cmake-build-debug/CMakeFiles/DoublyLinkedList.dir/main.c.o
Stack/cmake-build-debug/.ninja_deps
Stack/cmake-build-debug/.ninja_log
Stack/cmake-build-debug/build.ninja
Stack/cmake-build-debug/cmake_install.cmake
Stack/cmake-build-debug/CMakeCache.txt
Stack/cmake-build-debug/Stack
Stack/cmake-build-debug/.cmake/api/v1/query/cache-v2
Stack/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Stack/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Stack/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Stack/cmake-build-debug/CMakeFiles/clion-environment.txt
Stack/cmake-build-debug/CMakeFiles/clion-log.txt
Stack/cmake-build-debug/CMakeFiles/cmake.check_cache
Stack/cmake-build-debug/CMakeFiles/CMakeError.log
Stack/cmake-build-debug/CMakeFiles/CMakeOutput.log
Stack/cmake-build-debug/CMakeFiles/rules.ninja
Stack/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Stack/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
Stack/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
Stack/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
Stack/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
Stack/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
Stack/cmake-build-debug/CMakeFiles/Stack.dir/main.c.o
Stack/cmake-build-debug/CMakeFiles/Stack.dir/Stack.c.o
Stack/cmake-build-debug/Testing/Temporary/LastTest.log
Stack_LinkedList/cmake-build-debug/build.ninja
Stack_LinkedList/cmake-build-debug/cmake_install.cmake
Stack_LinkedList/cmake-build-debug/CMakeCache.txt
Stack_LinkedList/cmake-build-debug/.cmake/api/v1/query/cache-v2
Stack_LinkedList/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Stack_LinkedList/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Stack_LinkedList/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Stack_LinkedList/cmake-build-debug/CMakeFiles/clion-environment.txt
Stack_LinkedList/cmake-build-debug/CMakeFiles/clion-log.txt
Stack_LinkedList/cmake-build-debug/CMakeFiles/cmake.check_cache
Stack_LinkedList/cmake-build-debug/CMakeFiles/CMakeError.log
Stack_LinkedList/cmake-build-debug/CMakeFiles/CMakeOutput.log
Stack_LinkedList/cmake-build-debug/CMakeFiles/rules.ninja
Stack_LinkedList/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Stack_LinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
Stack_LinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
Stack_LinkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
Stack_LinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
Stack_LinkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
Stack_LinkedList/cmake-build-debug/Testing/Temporary/LastTest.log
Stack_LinkedList/cmake-build-debug/.ninja_deps
Stack_LinkedList/cmake-build-debug/.ninja_log
Stack_LinkedList/cmake-build-debug/Stack_LinkedList
Stack_LinkedList/cmake-build-debug/CMakeFiles/Stack_LinkedList.dir/main.c.o
Stack_LinkedList/cmake-build-debug/CMakeFiles/Stack_LinkedList.dir/Stack.c.o
Queue/cmake-build-debug/build.ninja
Queue/cmake-build-debug/cmake_install.cmake
Queue/cmake-build-debug/CMakeCache.txt
Queue/cmake-build-debug/.cmake/api/v1/query/cache-v2
Queue/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Queue/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Queue/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Queue/cmake-build-debug/CMakeFiles/clion-environment.txt
Queue/cmake-build-debug/CMakeFiles/clion-log.txt
Queue/cmake-build-debug/CMakeFiles/cmake.check_cache
Queue/cmake-build-debug/CMakeFiles/CMakeError.log
Queue/cmake-build-debug/CMakeFiles/CMakeOutput.log
Queue/cmake-build-debug/CMakeFiles/rules.ninja
Queue/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Queue/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
Queue/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
Queue/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
Queue/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
Queue/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
Queue/cmake-build-debug/Testing/Temporary/LastTest.log
Queue/cmake-build-debug/.ninja_deps
Queue/cmake-build-debug/.ninja_log
Queue/cmake-build-debug/Queue
Queue/cmake-build-debug/CMakeFiles/Queue.dir/main.c.o
Queue/cmake-build-debug/CMakeFiles/Queue.dir/Queue.c.o
Queue_linkedList/cmake-build-debug/build.ninja
Queue_linkedList/cmake-build-debug/cmake_install.cmake
Queue_linkedList/cmake-build-debug/CMakeCache.txt
Queue_linkedList/cmake-build-debug/.cmake/api/v1/query/cache-v2
Queue_linkedList/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Queue_linkedList/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Queue_linkedList/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Queue_linkedList/cmake-build-debug/CMakeFiles/clion-environment.txt
Queue_linkedList/cmake-build-debug/CMakeFiles/clion-log.txt
Queue_linkedList/cmake-build-debug/CMakeFiles/cmake.check_cache
Queue_linkedList/cmake-build-debug/CMakeFiles/CMakeError.log
Queue_linkedList/cmake-build-debug/CMakeFiles/CMakeOutput.log
Queue_linkedList/cmake-build-debug/CMakeFiles/rules.ninja
Queue_linkedList/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Queue_linkedList/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.o
Queue_linkedList/cmake-build-debug/Testing/Temporary/LastTest.log
Queue_linkedList/cmake-build-debug/.ninja_deps
Queue_linkedList/cmake-build-debug/.ninja_log
Queue_linkedList/cmake-build-debug/Queue_linkedList
Queue_linkedList/cmake-build-debug/CMakeFiles/Queue_linkedList.dir/main.c.o
Queue_linkedList/cmake-build-debug/CMakeFiles/Queue_linkedList.dir/Queue.c.o
List/cmake-build-debug/build.ninja
List/cmake-build-debug/cmake_install.cmake
List/cmake-build-debug/CMakeCache.txt
List/cmake-build-debug/.cmake/api/v1/query/cache-v2
List/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
List/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
List/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
List/cmake-build-debug/CMakeFiles/clion-environment.txt
List/cmake-build-debug/CMakeFiles/clion-log.txt
List/cmake-build-debug/CMakeFiles/cmake.check_cache
List/cmake-build-debug/CMakeFiles/CMakeError.log
List/cmake-build-debug/CMakeFiles/CMakeOutput.log
List/cmake-build-debug/CMakeFiles/rules.ninja
List/cmake-build-debug/CMakeFiles/TargetDirectories.txt
List/cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
List/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
List/cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
List/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
List/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
List/cmake-build-debug/Testing/Temporary/LastTest.log
